<!DOCTYPE HTML>
<html>
<head>
<title>Register user</title>
<meta charset="UTF-8">
	<title>8Rooms - All</title>
	<link rel="stylesheet" type="text/css" href="style.css">
	<script type="text/javascript">
		function changeWidth(){
			document.getElementById("resizable-div").style.width=(document.body.clientWidth-430)+"px";
		}
	</script>
</head>
<body onresize="changeWidth()">
	<div class="main">
		<header>
			<%= image_tag "header.jpg", {:alt => "8Rooms"} %>
		</header>
		<nav class="menu">
			<ul>
				<% if (cookies[:user_name] == nil) %>
				<li>
					<a href="../log_in">Log in</a>/<a href="../register">Register</a>
				</li>
				<% else %>
				<li>
					<a href="../log_out">Log out</a>
				</li>
				<% end %>
				<li><a href="../all"><div>Main page</div></a></li>
				<% @values.each do |key, value| %>
					<li><a href="../tag/<%= key %>"><div><%= key %></div></a></li>
				<% end %>
			</ul>
		</nav>
		<% if (cookies[:user_name] != nil) %>
		<div class="right-panel">
			<%= image_tag "nophoto.png", {:width => 120, :alt => "user-image"} %>
			<h3><a href="../user/<%= cookies[:user_name] %>"><div><%= cookies[:user_name] %></div></a></h3>
			<br />
			<p>
				Rating: <%= User.find(:first, :conditions => [ "username = ?", cookies[:user_name]]).rating %><br />
				Favorites<br />
				Room
			</p>
		</div>
		<% end %>

		<div class="content" id="resizable-div">
		<script type="text/javascript">document.getElementById("resizable-div").style.width=(document.body.clientWidth-430)+"px";</script>
		<section>
			<h1>Log in</h1>
			<br />
			<%= form_tag(:controller => "main", :action => "log_in_user") do -%>
				Nickname: <br />
				<%= text_field_tag :username%>
				<br />
				Password: <br />
				<%= password_field_tag :password%>
				<br />
				<%= submit_tag "Log in" %>
				<br />
				<br />
				<% if params[:error] == "error" %>
				Error. Wrong username\password!
				<% end %>
			<% end -%>
		</section>
		</div>

	</div>
</body>
</html>